# Write a progam to create a dataframe of product and unit and find the sum of each category product.

In [1]:
import pandas as pd

In [2]:
a=["A","B","C","D","A","C"]
b=[100,150,200,250,300,400]
df=pd.DataFrame({"Product":a,"Unit":b})
df

  Product  Unit
0       A   100
1       B   150
2       C   200
3       D   250
4       A   300
5       C   400

In [4]:
df.groupby("Product")["Unit"].sum().reset_index()

  Product  Unit
0       A   400
1       B   150
2       C   600
3       D   250