# Write a program to find the average age of those students whose marks is greater than 60.

In [6]:
a=["Himanshu","Hritik","Shashank","Kunal","Shakshi","Simran"]
b=[55,67,84,44,87,54]
c=[24,44,28,45,54,25]

In [7]:
import pandas as pd

In [8]:
df=pd.DataFrame({"Name":a,"Marks":b,"Age":c})
df

       Name  Marks  Age
0  Himanshu     55   24
1    Hritik     67   44
2  Shashank     84   28
3     Kunal     44   45
4   Shakshi     87   54
5    Simran     54   25

In [9]:
s=0
n=0
for j,k in df.iterrows():
    if k["Marks"]>60:
        s=s+k["Age"]
        n=n+1
avg=s/n
print("Average age of those students whose marks is greater than 60 = ",avg)

Average age of those students whose marks is greater than 60 =  42.0